/202509012.exe
/Installer Files Directory/FTX Device Drivers/TM-T88VIUtility160.exe
/Installer Files Directory/FTX Device Drivers/Zebra_123Scan_64bit_v6.00.0033.exe
/Extra Utils/TM-T88III and T88IV.zip
/Extra Utils/TM-T88VI/ADK300ER26.exe
/Extra Utils/TM-T88VI/OPOSN1.14.37.exe

# Log files
*.log
/WinSetView